/* STYLE INDEX */
*{
    margin: 0;
    padding: 0;
   
 }

body{
font-family: 'Garamond';
}


header{
    display: flex;
    
    align-items: center;
    height: 50px;
    background-color:white;
    border: 2px solid black;
    
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

#cart{
    width: 20px;

}

li, a, button{
    font-weight: 550px;
    font-size: 13px;
    color: red;
    text-decoration:none;
}

button {
    padding: 0x 20px;
    font-size: 10px;
    align-items: center;
    border:1px black;
    

}

button {
    padding: 9px 23px;

}

section {
    display:flex;
    align-items: center;
    border:2px red;

}

.search-box{
    height:40px;
    border-radius: 40px; 
    padding: 9px;
    
}

.img-logo{
    width: 120px;
        
}

/* .img-about{
    height: 150px;
    width: 200px; */

section>div{
    display: flex;
    height: 40vh;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    text-align: justify;
    
    
} 

.click :hover{
    justify-content: space-around;
    color:blue;


}

.menu-links li{
    display: inline-block;
    align-items: flex-end;
    padding: 0px 40px;
    
}


.menu-links li a:hover{
    color: black
}



footer{
    
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin: 0 auto;
    list-style: none;
    }

    

.footer-title-4 {
    display: flex;
    flex-direction: column;
}

.footer-title-4 div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.footer-title-4 img {
    width: 20px;

}


