/* ESTILIZAÇÃO PÁGINA DE COMPRAS DO MERCADO ONLINE */

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    background-color:#ffffff;
    min-height: 80vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
    height: 50px;
    background-color: #66402b;
}

input{
    height: 25px;
    margin-right: 20px;
}

#titulo {
    margin: 20px;
    text-align: center;
    color: #66402b;
}
#container-descricao{
    text-align: center;
    margin: 20px;
    color: #66402b;
    font-size: larger;
}
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
}
.imagem-sessao{
    width: 100%;
}
.imagem-sessao:hover{
    opacity: 50%;
}
.imagem-sessao:active{
    opacity: unset;
}
#imagem-4food{
    width: 100%;
}

.card-sessoes {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #66402b;
    padding: 7px 4px;
    background-color: #e7e1de;
}

h4{
    margin-bottom: 10px;
}

.lista {
    visibility: hidden;
}

.card-sessoes:hover .lista{
    visibility: visible;
}

#card-logo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
    height: 100px;
    font-size: large;
    background-color: #66402b;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */
    main{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
    